#root {
    font-family: Verdana, sans-serif !important;
}

body {
    font-family: Verdana, sans-serif !important;
    background-color: #f0ceff;
    margin: 0px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;


    width: auto;
    height: 850px;

    background-color: #b042ff;
    padding: 20px;
    color: #f0ceff;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    width: auto;
    background-color: #b042ff;
    justify-content: center;
}

nav button {
    flex-grow: 1;
    color: #f0ceff;
    background-color: #b042ff;
    padding: 10px;
    height: 60px;
    border: 3px solid #f0ceff;
    transition-duration: 0.5s;
}

nav button:hover {
    flex-grow: 2;
}

header h1 {
    margin: 10px;
    font-size: 220px;
}

header h3 {
    margin: 0px;
    font-size: 40px;
}

.sector1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.imagecontainer1 {
    background-color: #b042ff;
    width: 720px;
    height: 720px;
    padding: 10px;
    margin-right: 0px;
    margin-left: auto;
}

.imagecontainer1 img {
    display: block;
    width: 700px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10%;
}

.sector2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-left: 0px;
}

.imagecontainer2 {
    background-color: #b042ff;
    width: 720px;
    height: 720px;
    padding: 10px;
    margin-right: 0px;
}

.imagecontainer2 img {
    display: block;
    width: 700px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10%;
}

.paragraph2 {
    margin: 30px;
}

.sector3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.imagecontainer3 {
    background-color: #b042ff;
    width: 720px;
    height: 720px;
    padding: 10px;
    margin-right: 0px;
    margin-left: auto;
}

.imagecontainer3 img {
    display: block;
    width: 700px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10%;
}

footer {
    background-color: #b042ff;
    height: 50px;
    width: 100%;
    position: absolute;
    margin-bottom: 0px;
}

.paragraph1 {
    padding: 20px;
}